# common
API_KEY=
LOCAL_DEV_HOSTNAME=localhost
LOCAL_DEV_PORT=3000
AUTHOR=
APP_URL=
CLIENT_URL=

# mail
MAIL_HOST=smtp.example.com
MAIL_USER=user@example.com
MAIL_PASSWORD=topsecret
MAIL_FROM=noreply@example.com
# optional
MAIL_TRANSPORT=smtp://${MAIL_USER}:${MAIL_PASSWORD}@${MAIL_HOST}

# database
DATABASE_URL=
